/*******************************************************************/
/*           GENERAL STYLES                                        */
/*******************************************************************/

#upm-container h2 {
    color: #036;
    font-size: 1.8em;
    line-height: 1.8em;
}

#upm-container.upm-confluence h2 {
    margin-top: 0;
}

#upm-container .upm-plugin-description {
    font-size: 1em;
    margin: 0.5em 0 1em 0;
}

.upm-plugin-description ul, .upm-plugin-description ol {
    list-style-position: inside;
}

#upm-container a {
    color: #036;
    text-decoration: underline;
}

#upm-container a:hover {
    text-decoration: none;
}

#upm-container .clearer {
    clear: both;
    display: block;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
    margin-bottom: -1px;
}

#upm-container .hidden {
    display: none;
}

#upm-container .loading {
    background-image: url(../../resources/com.atlassian.upm.atlassian-universal-plugin-manager-plugin%3Aplugin-manager/images/throbber.gif);
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 25px;
}

#upm-panel-compatibility.loading {
    background-position: bottom center;
}

#upm-container .error {
    color: #ef1d1d;
}

#upm-container .upm-info-box {
    background-color: #eff5ff;
    border: 1px solid #bfd8ff;
    margin: 0 0 1em;
    padding: 0.7em 0.7em 0 0.7em;
}

#upm-container .upm-warning-box {
    background-color: #fff3f3;
    border: 1px solid #ffcfcf;
    margin: 0 0 3em;
    padding: 0.7em 0.7em 0 0.7em;
}

#upm-container .hidden {
    display: none;
}

#upm-container a img {
    border: none;
}

#upm-container p.upm-info {
    color: #666;
}

#upm-container button {
	height: 1.95em;
    padding: 0.25em 0.5em 0.2em 0.5em;
}

#upm-container a.upm-plugin-system-version-help {
    color: #333;
    text-decoration:none;
}

#upm-container a.upm-plugin-system-version-help:hover {
    color: #036;
    text-decoration:underline;
}

.dialog button, .aui-dialog button {
    height: 1.95em;
    padding: 0.1em 0.5em 0.2em 0.5em;
}

/* I wish I didn't have to do this, but fecru admin doesn't set any default font size */
#upm-upload-dialog, #upm-info-dialog, #upm-confirm-dialog {
    font-size: 15px;
}

/* FeCru-specific styles */

#upm-container.upm-fisheye, #upm-container.upm-crucible {
    font-size: 1.05em;
    padding: 0 0.3em 0 0.3em;
}

.upm-fisheye p {
    margin-bottom: 1em;
}

/*******************************************************************/
/*           TABS                                                  */
/*******************************************************************/

#upm-tab-container {
    border-bottom: 1px solid #ccc;
    position: relative;
}

#upm-tabs {
    font-size: 105%;
    margin: 0;
    padding: 0 0.7em;
}

#upm-tabs li {
    border: 1px solid #ccc;
    color: #666;
    display: inline;
    float: left;
    margin: 0 0 -1px -1px;
}

#upm-tabs li a {
    background: #f3f3f3;
    color: #666;
    display: block;
    padding: 0.2em 0.6em;
    text-decoration: none;
}

#upm-tabs li a:hover {
    background: #eaeaea;
}

#upm-tabs li.upm-selected {
    border-bottom-color: #fff;
}

#upm-tabs li.upm-selected a {
    background: #fff;
    color: #222;
}

a#upm-upload {
    background: url(../../resources/com.atlassian.upm.atlassian-universal-plugin-manager-plugin%3Aplugin-manager/images/icon-upload.png) no-repeat 0 0;
    padding-left: 20px;
    position: absolute;
    right: 1em;
    top: -1.8em;
}

/*******************************************************************/
/*           PANELS                                                */
/*******************************************************************/

#upm-content .upm-panel {
    display: none;
    padding: 1em 0.7em;
    position: relative;
}

#upm-content .upm-selected {
    display: block;
}

#upm-content .upm-panel h3 {
    color: #036;
    font-size: 1.6em;
    font-weight: normal;
    margin: 1em 0 .3em 0;
    padding-left: 0;
}

/*******************************************************************/
/*           PLUGIN LISTS                                          */
/*******************************************************************/

.upm-plugin-list {
    margin-bottom: 3em;
}

.upm-plugin-list-container {
    position: relative;
}

.upm-plugin-list .upm-plugin {
    background: #fff;
    border: 1px solid #ccc;
    color: #222;
    font-size: 1em;
    font-weight: normal;
    margin: -1px 0 0 0;
}

.upm-plugin-list .upm-plugin-row {
    background: #f3f3f3;
    overflow: hidden;
    padding: 0.5em 0.8em 0.5em 0.8em;
    position: relative;
}

.upm-plugin-row:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.upm-plugin-list .expanded .upm-plugin-row  {
    background: #4b8cc2;
    color: #fff;
}

.upm-plugin-list .disabled .upm-plugin-row {
    color: #999;
}


.upm-plugin-list .expanded.disabled .upm-plugin-row {
    background-color: #ccc;
    color: #666;
}

h4.upm-plugin-name {
    color: #222;
    display: inline;
    float: left;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.1em;
    margin: 0.2em 0 0 0;
    padding: 0;
    width: 30%;
}

.upm-plugin-summary {
    color: #666;
    display: inline;
    float: right;
    font-size: 0.95em;
    line-height: 1.1em;
    margin: 0.2em 0 0 0;
    padding: 0;
    width: 68%;
}

.upm-plugin-list .disabled .upm-plugin-row .upm-plugin-name  {
    color: #666;
}

.upm-plugin-list .disabled .upm-plugin-row .upm-plugin-summary {
    color: #aaa;
}

.upm-plugin-list .expanded .upm-plugin-row .upm-plugin-name  {
    color: #fff;
    font-weight: bold;
}

.upm-plugin-list .expanded .upm-plugin-row .upm-plugin-summary {
    color: #fff;
    font-weight: normal;
}

.upm-plugin-list .upm-plugin .upm-plugin-row {
    background-image: url(../../resources/com.atlassian.upm.atlassian-universal-plugin-manager-plugin%3Aplugin-manager/images/puzzle-piece.gif);
    background-position: 0.4em 0.4em;
    background-repeat: no-repeat;
    padding-left: 2.2em;
    padding-right: 1.7em;
}

.upm-plugin-list .expanded .upm-plugin-row {
    background-image: url(../../resources/com.atlassian.upm.atlassian-universal-plugin-manager-plugin%3Aplugin-manager/images/puzzle-piece-blue.gif);
}

.upm-plugin-list .disabled .upm-plugin-row {
    background-image: url(../../resources/com.atlassian.upm.atlassian-universal-plugin-manager-plugin%3Aplugin-manager/images/puzzle-piece-disabled.gif);
}

.upm-plugin-list .expanded.disabled .upm-plugin-row {
    background-image: url(../../resources/com.atlassian.upm.atlassian-universal-plugin-manager-plugin%3Aplugin-manager/images/puzzle-piece-disabled.gif);
}

#upm-osgi-bundles .upm-plugin-list .upm-plugin-row {
    background-image: url(../../resources/com.atlassian.upm.atlassian-universal-plugin-manager-plugin%3Aplugin-manager/images/gear-blue.gif);
}

#upm-osgi-bundles .upm-plugin-list .expanded .upm-plugin-row {
    background-image: url(../../resources/com.atlassian.upm.atlassian-universal-plugin-manager-plugin%3Aplugin-manager/images/gear-blue.gif);
}

#upm-osgi-bundles .upm-plugin-list .disabled .upm-plugin-row {
    background-image: url(../../resources/com.atlassian.upm.atlassian-universal-plugin-manager-plugin%3Aplugin-manager/images/gear-disabled.gif);
}

#upm-osgi-bundles .upm-plugin-list .expanded.disabled .upm-plugin-row {
    background-image: url(../../resources/com.atlassian.upm.atlassian-universal-plugin-manager-plugin%3Aplugin-manager/images/gear-disabled.gif);
}

#upm-osgi-bundles .upm-plugin-name {
    width: 100%;
}

p.upm-section-description {
    margin: 0 4em 1em 0;
}

/* Plugin Details */

.upm-plugin-list .upm-plugin .upm-details {
    display: none;
    font-size: 1em;
    padding: 0.8em 1em 0.8em 1em;
    position: relative;
}

.upm-plugin-list .expanded .upm-details {
    display: block;
}

.upm-plugin .upm-details .upm-rating {
    position: absolute;
    right: 15px;
    top: 15px;
}

.upm-plugin .upm-details h5 {
    color: #777;
    font-size: 1.05em;
    font-weight: normal;
    margin: 0.5em 0 1em 0;
}

.upm-plugin .upm-details p {
    color: #222;
}

.upm-plugin .upm-details img {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.upm-plugin .upm-details dl {
    margin-top: 0;
    padding-left: 150px;
}

.upm-plugin .upm-details dt {
    clear: left;
    display: inline;
    float: left;
    margin-bottom: 0.4em;
    margin-left: -150px;
}

.upm-plugin .upm-details dd {
    display: block;
    margin-bottom: 0.4em;
}

.upm-plugin .upm-plugin-actions .pipe {
    color: #999;
    font-size: 130%;
}

.upm-static .upm-uninstall {
    display: none;
}

/* Requires restart */

.upm-plugin-requires-restart button, .upm-plugin-requires-restart button.upm-uninstall {
    display: none;
}

.upm-plugin-requires-restart .upm-details-pipe {
    display: none;
}

.upm-requires-restart-message {
    display: none;
}

.upm-plugin-requires-restart .upm-requires-restart-message {
    display: block;
}

.upm-requires-restart-icon {
    background: url(../../resources/com.atlassian.upm.atlassian-universal-plugin-manager-plugin%3Aplugin-manager/images/warning.png) no-repeat 0 0;
    display: none;
    height: 16px;
    position: absolute;
    right: 5px;
    width: 16px;
}

.upm-plugin-requires-restart .upm-requires-restart-icon {
    display: inline;
}

/* Pending tasks */

#upm-pending-tasks {
    display: none;
}

.upm-pending-tasks #upm-pending-tasks {
    display: block;
}

#upm-container.upm-pending-tasks button {
    display: none;
}

#upm-container.upm-pending-tasks button.upm-pager-button {
    display: inline;
}

#upm-container.upm-pending-tasks #upm-install-search-form button {
    display: inline;
}

#upm-container.upm-pending-tasks a.upm-requires-restart-cancel {
    display: none;
}

#upm-container.upm-pending-tasks #upm-upload {
    display: none;
}

#upm-container.upm-pending-tasks #upm-safe-mode-on, #upm-container.upm-pending-tasks #upm-safe-mode-exit-links {
    display: none;
}

#upm-container.upm-pending-tasks .upm-module-actions {
    display: none;
}

#upm-container.upm-pending-tasks .upm-button-pipe {
    display: none;
}

/* Plugin Modules */

.upm-plugin-modules {
    font-size: 0.95em;
    margin-bottom: 1em;
}

.upm-module-container {
    display: none;
    margin-top: 0.5em;
}

.upm-plugin .expanded .upm-module-container {
    display: block;
}

.upm-module-toggle {
    /*font-size: 0.95em;*/
}

.upm-plugin-modules .upm-toggle-icon {
    background: url(../../resources/com.atlassian.upm.atlassian-universal-plugin-manager-plugin%3Aplugin-manager/images/plus-minus.png) 0 0 no-repeat;
    display: inline;
    float: left;
    height: 15px;
    margin-right: 0.2em;
    width: 15px;
}

.upm-plugin .expanded .upm-toggle-icon {
    background-position: 0 -15px;
}

.upm-module {
	min-height: 25px;
	position: relative;
    border: 1px solid #eaeaea;
    clear: both;
    font-size: 0.95em;
    margin-top: -1px;
    padding: 0.5em;
}

.upm-module:hover {
    background: #fafafa;
}

.upm-plugin .upm-module h5 {
    color: #222;
    display: inline;
    float: left;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.7em;
    margin: 0 1em 0 0;
    padding: 0;
}

.upm-plugin .upm-module p {
    color: #777;
    display: inline;
    float: left;
    font-size: 1em;
    line-height: 1.7em;
    margin: 0;
}

.upm-module-actions {
    margin: -0.1em 0 -0.2em 0;
    position: absolute;
    right: 6px;
}

.upm-osgi-bundle-parsed-headers .upm-module-actions,
.upm-osgi-services-registered .upm-module-actions,
.upm-osgi-services-in-use .upm-module-actions {
    display: none;
}

.upm-module.upm-osgi-header-clause-unresolved {
    background-color: #fee
}

.upm-module.upm-osgi-header-clause-unresolved h5 {
    color: #900
}

.upm-module.upm-osgi-header-clause-optional h5 {
    color: #777;
}

.upm-module button {
    display: none;
}

.upm-plugin .upm-module .upm-module-actions p {
    display: none;
}

.upm-plugin-modules .upm-module-disabled h5 {
   color: #999;
}

.upm-plugin-modules .upm-module-disabled p {
   color: #ccc;
}

.upm-module:hover button.upm-module-disable {
    display: inline;
}

.upm-module-disabled:hover button.upm-module-enable {
    display: inline;
}

.upm-module:hover .upm-module-actions.upm-module-cannot-disable button {
    display: none;
}

.upm-module:hover .upm-module-actions.upm-module-cannot-disable p {
    display: inline;
}

.upm-plugin-modules .upm-module-disabled button.upm-module-disable {
    display: none;
}

.disabled .upm-plugin-modules .upm-module-actions {
    display: none;
}

.upm-module-state {
    display: none;
    float: right;
    margin: -0.1em 0 -0.2em 0;
}

.upm-module-disabled .upm-module-state {
    display: inline;
}

.upm-module-disabled .upm-module-state p {
    color: red;
}

.upm-module:hover .upm-module-state {
    display: none;
}

/*******************************************************************/
/*           INSTALL TAB                                           */
/*******************************************************************/

#upm-panel-install label {
    color: #036;
    font-size: 115%;
    font-weight: bold;
    margin-right: 0.5em;
}

#upm-install-type {
    display: inline;
    font-size: 100%;
    width: 165px;
}

#upm-panel-install .upm-install-type {
    display: none;
}

#upm-panel-install .upm-selected {
    display: block;
}

#upm-install-filter-box {
    float: left;
    width: 48%;
}

#upm-install-search-form-container, #upm-osgi-search-form-container {
    float: right;
    width: 48%;
}

/*******************************************************************/
/*           MISC                                                  */
/*******************************************************************/

hr {
  background: #eaeaea;
  border:0;
  border-top: 1px solid #eaeaea;
  height: 0;
}

img.upm-logo {
    margin-bottom: -8px;
    vertical-align: baseline;
}

#upm-audit-log-feed img {
    margin: 0 2px -2px 2px;
    vertical-align: top;
}

/* Search box */

.upm-textbox {
    color: #888;
    font-size: 1.1em;
    width: 355px;
}

.upm-textbox-active {
    color: #222;
}

#upm-install-search-box, #upm-osgi-search-box {
    display: inline;
    float: right;
    width: 50%;
}

/* buttons and links */

.upm-search-button {
    display: inline;
    float: right;
    margin: 0 5px 0 5px;
}

#upm-upgrade-all {
    position: absolute;
    right: 4em;
    top: -2.6em;
}

button.upm-uninstall {
    display: inline;
    float: right;
}

.upm-safe-mode-actions {
    display: inline;
    float: right;
    margin-right: 3.8em;
}

#upm-safe-mode-off {
    display: none;
}

.upm-safe-mode #upm-safe-mode-on {
    display: none;
}

.upm-safe-mode #upm-safe-mode-off {
    display: block;
}

/* Requires restart */

#upm-requires-restart-message {
    display: none;
}

.requires-restart #upm-requires-restart-message {
    display: block;
}

#upm-requires-restart-show {
    margin-left: 0.3em;
}

#upm-requires-restart-list {
    display: none;
}

#upm-requires-restart-message.expanded #upm-requires-restart-list {
    display: block;
}

/* compatibility check form */

#upm-compatibility-form {
    margin-top: 1em;
}

#upm-compatibility-form label {
    color: #036;
    font-size: 115%;
    font-weight: bold;
    margin-right: 0.5em;
}

#upm-compatibility-form select {
    font-size: 100%;
    padding: 0.1em 0.2em 0.1em 0.2em;
    width: 140px;
}

#upm-compatibility-form input.submit {
    margin-left: 0.5em;
}

#upm-compatibility-content {
    display: none;
}

#upm-compatibility-content button {
    display: none;
}

#upm-need-upgrade-plugins button.upm-upgrade {
    display: inline;
}

#upm-need-product-upgrade-plugins button.upm-disable {
    display: inline;
}

#upm-need-product-upgrade-plugins .disabled button.upm-disable {
    display: none;
}

/* Congratulations messages */

.upm-congrats-message {
    background: transparent url(../../resources/com.atlassian.upm.atlassian-universal-plugin-manager-plugin%3Aplugin-manager/images/all-up-to-date.png) 0 0 no-repeat;
    padding-left: 20px;
    padding-right: 168px;
    text-align: center;
    width: 280px;
}

.upm-congrats-message-plugin-upgrades {
    height: 140px;
    padding-top: 40px;
}

.upm-congrats-message-product-upgrades {
    height: 180px;
    padding-top: 25px;
}

.upm-congrats-message h4 {
    color: #036;
    font-size: 2.4em;
    font-weight: bold;
    margin: 0;
}

.upm-congrats-message p {
    color: #444;
    font-size: 1.6em;
    margin: 0.8em auto 0 auto;
    text-align: center;
    width: 200px;
}

/* Upload Form */

#upm-upload-form {
    font-size: 0.9em;
}

#upm-upload-form div {
    margin: 0.5em 0 0.7em;
}

#upm-upload-form label {
    color: #036;
    display: block;
    font-weight: bold;
    margin-bottom: 0.2em;
}

#upm-upload-form input.text {
    width: 355px;
}

#upm-upload-form .instructions {
    font-size: 90%;
}

#upm-upload-dialog .button-panel button {
    font-size: 0.75em;
}

#upm-upload-file {
    font-size: 0.85em;
}

/* Non-deployable download popup */

span.upm-nondeployable-instruction {
    font-weight: bold;
}

ul.upm-nondeployable-ul {
    margin: 0 0 1em 2em;
}

ul.upm-nondeployable-ul li {
    font-size: 0.9em;
    margin: 0.6em 0 0.2em 0;
}

#upm-progress-popup {
    font-size: 1.2em;
}

#upm-progress {
    padding: 0.5em 1.2em;
    text-align: center;
}

#upm-progress img {
    margin: 1.5em 0 1.5em 0;
}

.upm-progress-text {
    color: #777;
    text-align: center;
}

.upm-no-description-text {
    color: #777;
}

.upm-progress-bar-container {
    margin-top: 1em;
    text-align: center;
    visibility: hidden;
}

.upm-progress-download .upm-progress-bar-container {
    visibility: visible;
}

.upm-progress-bar {
    background: #f6f6f6;
    border: 1px solid #ccc;
    height: 20px;
    margin: 0 auto;
    text-align: left;
    width: 250px;
}

.upm-progress-amount {
    background: #69c;
    height: 20px;
    width: 0;
}

#upm-audit-log {
    margin: 0 0 45px 0;
}

a#upm-audit-log-refresh {
    background: transparent url(../../resources/com.atlassian.upm.atlassian-universal-plugin-manager-plugin%3Aplugin-manager/images/refresh.png) 0 -16px no-repeat;
    display: inline;
    float: right;
    height: 16px;
    margin: 0;
    width: 16px;
}

a#upm-audit-log-refresh:hover {
    background-position: 0 0;
}

a#upm-audit-log-refresh span {
    display: none;
}

#upm-audit-log td.date {
    white-space: nowrap;
}

/* audit log pagination */

#upm-audit-log-pagination {
    margin-bottom: 0.5em;
}

#upm-audit-log-pagination a {
    background: transparent url(../../resources/com.atlassian.upm.atlassian-universal-plugin-manager-plugin%3Aplugin-manager/images/pagination.gif) 0 0 no-repeat;
    display: inline;
    float: left;
    height: 14px;
    margin: 0 0.3em 0 0.3em;
    width: 14px;
}

#upm-audit-log-pagination a.disabled {
    cursor: default;
}

#upm-audit-log-pagination a span {
    display: none;
}

a#upm-audit-log-first {
    background-position: 0px 0;
}

a#upm-audit-log-first:hover {
    background-position: 0px -14px;
}

a#upm-audit-log-first.disabled {
    background-position: 0px -28px;
}

a#upm-audit-log-previous {
    background-position: -20px 0;
}

a#upm-audit-log-previous:hover {
    background-position: -20px -14px;
}

a#upm-audit-log-previous.disabled {
    background-position: -20px -28px;
}

a#upm-audit-log-next {
    background-position: -40px 0;
}

a#upm-audit-log-next:hover {
    background-position: -40px -14px;
}

a#upm-audit-log-next.disabled {
    background-position: -40px -28px;
}

a#upm-audit-log-last {
    background-position: -60px 0;
}

a#upm-audit-log-last:hover {
    background-position: -60px -14px;
}

a#upm-audit-log-last.disabled {
    background-position: -60px -28px;
}

#upm-audit-log-count {
    display: inline;
    float: left;
    font-size: 0.95em;
}

/* Audit Log configuration */

#upm-log-configuration {
    background: #f6f6f6;
    border: 1px solid #e2e2e2;
    display: block;
    margin: 0 0 1em 0;
    padding: 0.3em 0.6em;
}

#upm-log-configuration-days {
    margin: 0 0.2em 0 0.2em;
    width: 3em;
}

#upm-log-configuration-submit {
    font-size: 0.95em;
    margin-left: 1em;
    margin-right: 0.25em;
}

#upm-log-configure {
    font-size: 0.95em;
}

/* Messages */

#upm-messages {
    margin-bottom: 15px;
}

.upm-message {
    background-color: #eaeaea;
    background-position: 12px center;
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    margin: 0 0 8px 0;
    padding: 0.7em 0.7em 0.7em 35px;
}

#upm-messages .upm-message {
    max-width: 750px;
}

#upm-messages .aui-message.warning {
    color: #333;            /* override red color in Bamboo */
    cursor: pointer;
}

#upm-container .success {
    background-color: #cfc;
    border-color: #a4efa4;
}

#upm-container .info {
    background-color: #ffc;
    border-color: #eeef4a;
}

#upm-container .error {
    background-color: #fff3f3;
    border-color: #ffcfcf;
}

a.upm-message-close {
    background: transparent url(../../resources/com.atlassian.upm.atlassian-universal-plugin-manager-plugin%3Aplugin-manager/images/icon_close.png) 4px 4px no-repeat;
    display: block;
    float: right;
    height: 16px;
    margin: -2px -2px 0 0;
    min-width: 0;
    padding: 0.1em;
    width: 16px;
}

a.upm-message-close span {
    display: none;
}

#upm-messages.overflowing .upm-message {
    display: none;
}

#upm-messages.overflowing .visible, #upm-messages.expanded .upm-message {
    display: block;
}

#upm-messages.overflowing #upm-messages-show-more {
    display: inline;
}

#upm-messages #upm-messages-show-more, #upm-messages.expanded #upm-messages-show-more {
    display: none;
}

#upm-bundled-summary p,
.plugin-warning-development-version .upm-development-product-version p,
.plugin-warning-unknown-version .upm-unknown-product-version p {
    margin-top: 0;
}

/* Local upload iframe */

#upm-upload-target {
    display: none;
}


/* Upgrades tab */

.upm-configure-link-off {
    color: #999;
    display: none;
}

.disabled .upm-configure-link {
    display: none;
}

.disabled .upm-configure-link-off {
    display: inline;
}

.upm-expand-collapse-all {
    font-size: 0.95em;
    position: absolute;
    right: 0;
    text-align: right;
    top: -2.2em;
}

.upm-expand-collapse-all a {
    background: transparent url(../../resources/com.atlassian.upm.atlassian-universal-plugin-manager-plugin%3Aplugin-manager/images/expand-collapse.png) 0 -16px no-repeat;
    display: block;
    float: left;
    height: 16px;
    margin: 0 0.2em;
    width: 16px;
}

.upm-expand-collapse-all a:hover {
    background-position: 0 0;
}

.upm-expand-collapse-all a span {
    display: none;
}

.upm-expand-collapse-all .upm-collapse-all {
    float: right;
    margin-right: 0;
}

.upm-expand-collapse-all .upm-expand-all {
    background-position: -16px -16px;
}

.upm-expand-collapse-all .upm-expand-all:hover {
    background-position: -16px 0;
}

/* No available upgrades */
.upm-development-product-version,
.upm-unknown-product-version {
    display: none;
}

.plugin-warning-development-version .upm-development-product-version,
.plugin-warning-unknown-version .upm-unknown-product-version {
    display: block;
}

.plugin-warning-development-version #upm-upgrade-description,
.plugin-warning-unknown-version #upm-upgrade-description {
	display: none;
}

.plugin-warning-unknown-version #upm-upgrade-all,
.no-upgrades #upm-upgrade-all {
    display: none;
}

.plugin-warning-unknown-version #upm-upgrade-description,
.no-upgrades #upm-upgrade-description {
    display: none;
}


.plugin-warning-unknown-version .upm-plugin-list-container {
    display: none;
}

.no-upgrades #upm-available-upgrades {
    display: none;
}

#upm-no-available-upgrades {
    display: none;
}

.no-upgrades #upm-no-available-upgrades {
    display: block;
}

/* plugin pagination */

.upm-plugin-list-pager {
    margin-top: -1.5em;
    min-height: 4em;
    padding-top: 0.5em;
    text-align: center;
}

#upm-container .upm-plugin-list-pager {
    background-position: top center;
}

.upm-plugin-list-pager .upm-pager-text {
    display: none;
    font-size: 1.1em;
    line-height: 1em;
    text-align: center;
}

.upm-plugin-list-pager .upm-pager-button {
    font-size: 0.9em;
}

.upm-plugin-list-pager.loading {
    padding-top: 2.5em;
}

#upm-container .upm-plugin-list-pager.loading {
    min-height: 2em;
}

.upm-plugin-list-pager.loading .upm-pager-text {
    display: block;
}

.upm-plugin-list-pager.loading .upm-pager-button {
    display: none;
}

#upm-recent-product-release-container {
    margin: 1em;
}

.upm-recent-product-release {
    font-weight: bold;    
}
